body {
  background-color: #f7f7f9 !important;
}

.flex-centering-base {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.navbar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.card, .btn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.modal-lg {
  max-width: 70% !important;
}
